.modal-container.order-view {
  text-align: center;
  padding: 2rem;
}

.order-view--table {
  margin: 0 auto;
}

.order-view--table th {
  text-align: left;
}

.order-view--back-button {
  margin-right: 1rem;
}

.order-view--back-button:hover {
  color: #fff;
}

.order-view .order-view--table th,
.order-view .order-view--table td {
  border-color: #5764c6;
}

.modal-container .modal-header {
  background-color: #5764c6;
  color: #fff;
  border-radius: .3rem;
}
