.Orders {
  text-align: center;
}

.Orders {
  height: 80px;
}

.Orders-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.Orders-intro {
  font-size: large;
}

.table {
  margin: 0 auto;
  border-collapse: collapse;
}

.Table-header, .Table-cell {
  width: 10%;
}
.Active{
  color: green;
}
.Non-active{
  color: red;
}
.Order-id{
  width: 6%;
  color: blue;
  text-decoration: underline;
}
