.order-view--footer {
  text-align: center;
  margin: 1rem auto;
}

.btn.order-view--left-button {
  margin-right: 1rem;
  background: rgb(232, 86, 0);
  border-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.order-view--right-button,
.btn.order-view--left-button {
  margin-bottom: 1rem;
}

.btn.order-view--left-button:hover {
  background: rgb(244, 95, 0);
  border-color: rgba(0, 0, 0, 0);
}

