.hint-block.toast {
  margin: 0 auto;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.hint-block-closed {
  visibility: hidden;
}

.hint .modal-container {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}
